.About {
  width: 100%;
  padding-top: 100px;
}

.About__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.About__info h2 {
  max-width: 800px !important;
}

.About__image img {
  max-width: 1140px;
}

@media (max-width: 768px) {
  .About__image {
    width: 100%;
  }

  .About__image img {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1140px) {
  .About__info {
    padding: 0 20px;
  }
}
