.About {
  position: absolute;
  margin-top: 50px;
  top: 1250px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  max-width: 1440px;
}

.About__wrapper {
  display: flex;
  max-width: 1300px;
  margin: auto;
  padding-top: 200px;
  height: 100%;
  background-image: url('../../img/AboutUsBackground.png');
  background-repeat: no-repeat;
  min-height: 800px;
  background-size: cover;
  z-index: -2;
}

.About__content {
  display: flex;
  margin-top: 50px;
  min-height: 300px;
  max-width: 1140px;
  margin: auto;
  padding: 0px 40px;
  gap: 10px;
}
.About__content-left {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}

.About__content-right {
  margin-top: 40px;
  display: flex;
}

.About__content-info {
  width: 100%;
  text-align: start !important;
}

.About__content-image {
  max-width: 476px;
  max-height: 350px;
  border-radius: 50px;
  box-shadow: 0px 0px 50px 25px #ffffff;
}

.About__content-btnGroup {
  display: flex;
  margin-top: 40px;
  width: 100%;
  gap: 30px;
}
.About__content-btnLeft {
  height: 58.36px;
  width: 200px;
}
.About__content-btnRight {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 58.36px;
  width: 213px;
}

.About__content-btnRight span {
  color: #8b8b8b;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;
}

@media (max-width: 740px) {
  .About__content-info {
    text-align: center;
  }

  .About__content-btnGroup {
    justify-content: center;
  }

  .About__content-btnLeft {
    padding: 20px;
  }
  .About__content-btnRight {
    padding: 20px 0px;
    width: 300px;
    margin: 0px;
  }
}
@media (min-width: 740px) and (max-width: 1112px) {
  .About__content-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .About__row {
    width: 100%;
  }
  .About__right {
    display: flex;
    justify-content: center;
  }
  .About__content-image {
    max-width: 100%;
  }
}
