.Contact {
  width: 100%;
  margin: 100px 0;
}
.Contact__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.Contact .Contact__wrapper {
  background-image: url('../../img/ContactBackground.png');
}

.ContactPage .Contact__wrapper {
  background-image: url('../../img/ContactPageBackground.png');
}

/* Home Contact */
.Contact__info {
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.Contact__info div:first-child {
  max-width: 520px;
  width: 60%;
}

.Contact__info__wrapper {
  width: 40%;
}

/* Page Contact */
.ContactPage__info {
  flex-direction: row;
  padding: 0 150px;
  align-items: center;
  justify-content: space-between;
}

.ContactPage__info div:first-child {
  width: 40%;
}

.ContactPage__info div:last-child {
  width: 40%;
}

@media screen and (max-width: 740px) {
  .Contact__info {
    text-align: center;
    width: 100%;
    margin-right: 0;
  }

  .Contact__info div:first-child {
    display: none;
  }

  .Contact__info__wrapper {
    width: 100%;
  }

  .ContactPage__info {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .ContactPage__info div:first-child {
    width: 100%;
  }

  .ContactPage__info div:last-child {
    width: 100%;
  }
}

@media only screen and (min-width: 740px) and (max-width: 1024px) {
  .Contact__info div:first-child {
    width: 50%;
  }

  .Contact__info__wrapper {
    width: 50%;
  }

  .ContactPage__info {
    padding: 0 100px;
  }
}
