.Contact {
  margin-top: 150px;
  position: absolute;
  top: 2650px;
  width: 100%;
}
.Contact__wrapper {
  display: flex;
  justify-content: center;
  max-width: 1540px;
  padding-top: 100px;
  margin: 0 auto;
  height: 100%;
  background-image: url('../../img/ContactBackground.png');
  background-repeat: no-repeat;
  min-height: 800px;
  background-size: cover;
}

.Contact__container {
  min-height: 300px;
  width: 1340px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Contact__info {
  justify-content: left;
  align-items: flex-start;
  text-align: left;
  height: 100%;
  width: 100%;
}

.Contact__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 40%;
  align-items: center;
  height: 100%;
  gap: 45px;
}

.Contact__left {
  display: flex;
  justify-content: center;
  width: 60%;
  max-width: 519px;
  max-height: 402px;
  padding: 10px;
}
.Contact__left img {
  width: 100%;
  height: 100%;
}

.Contact__form {
  padding: 0px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Contact__form input {
  height: 61.58px;
  width: 100%;
  padding: 25px;
}

.Contact__form textarea {
  padding: 25px;
  border: 1px solid #d9ddfe;
  border-radius: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;
  resize: none;
  height: 240px;
}

.Contact__form .Contact__rowname input {
  width: 250px;
}

.Contact__form .textarea {
  height: 239.47px;
}

.Contact__rowname {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* @media (max-width: 740px) {
  .Contact__image {
    width: 100%;
  }

  .Contact__input {
    width: 100%;
  }
  .Contact__col-input {
    margin-top: 35px;
    justify-content: center;
  }

  .Contact__right {
    width: 80%;
    margin: auto;
  }
  .Contact__rowname {
    width: 100%;
  }
}

@media (min-width: 740px) and (max-width: 1024px) {
  .Contact__info-des {
    align-items: center;
  }
  .Contact__col {
    margin: auto;
  }
  .Contact__rowname {
    width: 520px;
  }
} */
