.MainService {
  /* position: absolute; */
  width: 100%;
  z-index: 1;
}

.MainService__Info {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 100px;
}

.MainService__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0px !important;
}

.MainService__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px auto;
}

@media only screen and (max-width: 740px) {
  .MainService__item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

@media only screen and (min-width: 740px) and (max-width: 1112px) {
  .MainService__wrapper {
    padding: 0 20px;
  }

  .MainService__item {
    gap: 5px;
  }
}
