.Professional {
  width: 100%;
}

.Professional__team {
  margin-top: 100px;
}

.Professional__team .Professional__wrapper {
  background-image: url('../../img/TeamBackground.png');
}

.Professional__wrapper {
  padding-top: 50px;
  position: relative;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1140px;
}

.Professional__Info {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Professional__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0px;
  gap: 5%;
}

@media only screen and (max-width: 740px) {
  .Professional__item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
}

@media only screen and (min-width: 740px) and (max-width: 1112px) {
  .Professional__item {
    gap: 5px;
  }
}
