.Service {
  position: absolute;
  top: 800px;
  width: 100%;
  z-index: 1;
}

.Service__Info {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Service__wrapper {
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1140px;
}

.Service__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5%;
  margin: 20px auto;
}

@media only screen and (max-width: 740px) {
  .Service__item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

@media only screen and (min-width: 740px) and (max-width: 1112px) {
  .Service__wrapper {
    padding: 0 20px;
  }

  .Service__item {
    gap: 5px;
  }
}
