.Vision {
  width: 100%;
}

.Vision__wrapper {
  display: flex;
  max-width: 1440px;
  margin: 50px auto;
  flex-direction: row-reverse;
}

@media (max-width: 1024px) {
  .Vision__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
