.AboutSection {
  width: 100%;
  margin: 100px 0;
}

.AboutSection__wrapper {
  display: flex;
  max-width: 1440px;
  margin: 50px auto;
  align-items: flex-start;
  flex-direction: row-reverse;
}

.AboutSection__btn {
  margin-top: 40px;
}

@media (max-width: 1024px) {
  .AboutSection__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
