.BeautyConsultation {
  width: 100%;
  margin: 50px 0;
}

.BeautyConsultation__wrapper {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .BeautyConsultation__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
