* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

ul {
  padding: 0;
  list-style: none;
}

input,
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

.main {
  padding: 40px 0;
}

.map {
  max-width: 1440px;
  height: 418px;
  background-image: url('./img/map.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
