.Section__main {
  width: 50%;
}

.Section__main .Info {
  text-align: left !important;
  padding: 0 100px;
}

.Section__link {
  padding-top: 30px;
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #091156;
  cursor: pointer;
}

.Section__link::after {
  content: '>>';
  position: absolute;
  margin-left: 20px;
  color: #ff64ae;
  font-size: 24px;
  letter-spacing: -5px;
}

.Section__img {
  width: 50%;
  text-align: center;
}

@media (max-width: 1024px) {
  .Section__main {
    width: 100%;
    padding: 0 20px;
  }

  .Section__main .Info {
    padding: 0 10px;
  }

  .Section__img {
    width: 100%;
  }

  .Section__img img {
    width: 100%;
  }
}
